html,
body {
  margin: 0px;
}
.container {
  background-color: moccasin;
  height: 100vh;
  background: linear-gradient(rgb(83, 73, 73), #dfb38a);
}
.wrapper {
  padding: 5% 10%;
  top: 26%;
  text-align: center;
  font-size: 1.5em;
  /* color: white; */
}
.header {
  background-color: rgb(83, 73, 73);
}
.title {
  text-align: center;
  margin: 0 auto;
  padding-top: 2%;
  color: white;
}
.title > h1 > a {
  color: white;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  li {
    float: left;
  }
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.custom-select {
  padding-bottom: 1%;
}
.custom-select > span {
  padding: 1%;
  font-size: larger;
  overflow: hidden;
  color: white;
}
@media screen and (min-width: 768px) {
  #logo {
    background-image: url("https://wallpaperaccess.com/full/1118512.jpg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 205px;
  }
}
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
